{% extends 'base.html.twig' %}

{% block body %}
    Bonjour et bienvenue
    <a href="{{ path('ascenseur') }}"> <button type="button" class="btn btn-warning">go ascenseur</button> </a>
{% endblock %}

